<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div style="padding: 5%;">
  <h1 style="text-align: center;margin-bottom: 3rem;"> New Form</h1>
  <div>
    <% flash.each do |key, value| %>
      <%if value.class == Array %>
        <ul class="alert alert-<%= key %>">
          <% value.each do |msg| %>
            <li><%= msg %></li>
          <%end%>
        </ul>
      <%end%>
    <% end %> 
  </div>

      <%= form_for new_product do |f| %>

        <%= f.hidden_field :patient_name, class: 'form-control', disabled: true, value: product.try(:patient_name) %>
        <%= f.hidden_field :mobile, class: 'form-control', disabled: true, value: product.try(:mobile) %>
        <%= f.hidden_field :doctor_name, class: 'form-control', disabled: true, value: product.try(:doctor_name) %>
        <%= f.hidden_field :email, class: 'form-control', disabled: true, value: product.try(:email) %>
        <%= f.hidden_field :address, class: 'form-control', disabled: true, value: product.try(:address) %>

        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">Item Details</h3>
            </div>
            <div class="panel-body">

                <table class='table'>
                    <thead>
                        <tr>
                        <th></th>
                        <th>Serial Number</th>
                        <th>Type</th>
                        <th>Received</th>
                        </tr>
                    </thead>
                    <tbody class='fields'>
                        <%= f.simple_fields_for :items do |builder| %>
                            <%= render 'item', f: builder %>
                        <% end %>
                    </tbody>
                </table>
                <div class="form-actions">
                    <%= link_to_add_row('Add Item', f, :items, class: 'btn btn-primary') %>
                </div>           
            </div>
        </div>

     
        <%= f.submit :Submit, class: 'btn btn-success' %>
        <%= link_to "Cancel", products_path ,class: 'btn btn-dark' %>
      <% end %>
    </div>
  </div>
</div>
