<div style="padding: 5%;">
  <h1 style="text-align: center;margin-bottom: 3rem;"> All Rental Details</h1>
  <div class="mt-2">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <%end%>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= link_to "New Rent Form", new_product_path, class: 'btn btn-primary' %>
    </div>
    <div class="col-sm-8">
      <%= form_tag products_path, class: 'form-inline form-right' , method: :get do %>
        <div class="form-group mx-sm-3 mb-2">
          <%= text_field_tag 'term', params[:term], placeholder: "Enter Serial Number", class: 'form-control' %>
        </div>
        <%= submit_tag 'Search!', class: "btn btn-info mb-2" %>
        <%= link_to 'Clear', products_path, class: "btn btn-secondary mb-2 ml-2" %>
      <% end %>
    </div>
  </div>
  <div class="mt-3">
    <% if @products.present? %>
      <table class="table table-bordered table-hover">
    <%else%>
      <table class="table table-hover">
    <%end%>
      <thead class="thead-light">
        <tr>
          <th>Serial Number</th>
          <th>Buyer Name</th>
          <th>Contact No</th>
          <th>Type</th>
          <th>Status</th>
          <th>Purchase Date</th>
          <th>Received Date</th>
          <th>Edit</th>
          <th>Delete</th>
          <th>Received</th>
          <th>Exchange</th>
        </tr>
      </thead>

      <% if @products.present? %>
        <% @products.each do |product| %>
          <tbody>
            <tr>
              <td><%= product.items.map(&:serial_number).join("<br>").html_safe %></td>
              <td><%= product.patient_name %></td>
              <td><%= product.mobile.to_s  + ", " + product.other_mobile.to_s %></td>
              <td><%= product.items.map(&:item_type).join("<br>").html_safe %></td>
              <%if product.items_status == "Rented"%>
                <td><span class="badge badge-warning"><%= product.items_status %></span></td>
              <%else%>
                <td><span class="badge badge-success"><%= product.items_status %></span></td>
              <%end%>
              <td><%= product.created_at.strftime("%d-%m-%Y %I:%M %p")%></td>
              <td><%= product&.receive_date&.strftime("%d-%m-%Y %I:%M %p") || ''%></td>
              <td><%= link_to 'Edit', edit_product_path(product) %></td>
              <td><%= link_to 'Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?' }%></td>
              <td><%= link_to 'Received', received_product_path(product), method: :get, data: { confirm: 'Are you sure, You have received all items?' } %></td>
              <td><%= link_to 'Exchange', return_items_product_path(product) %></td>
              </tr>
          </tbody>
        <% end %>
      <%else%>
        <tbody>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td style="text-align: center;">No Result Found</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tbody>
      <%end%>
    </table>
  </div>
  <%= paginate @products, theme: 'twitter-bootstrap-4' %>
</div>


<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
